# Ignore compiled binaries
logging_server/target/
target/
scrapped_ideas/

# Ignore IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system-specific files
db/
!db/logs
.DS_Store
Thumbs.db

# Ignore temporary files or logs
*.log
*.tmp
