# Ignore compiled binaries
logging_server/target/
target/
scrapped_ideas/
dot.sh


# Ignore IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system-specific files
db/
.DS_Store
Thumbs.db

# Ignore temporary files or logs
*.log
*.tmp
algorithms/__pycache__/kmeans.cpython-312.pyc
algorithms/__pycache__/maths.cpython-312.pyc