.card {
    transform: translate(50%, 50%);
    background: #222;
    width: 50vw;
    height: 50vh;
    border-radius: 16px;
}

form .column {
    display: flex;
    align-items: center;
    padding-top: 15vh; 
}

.card form input {

    font-size: 24px;
    border-radius: 8px;
    padding: 4px;
    width: 30vw;
}

.card form .form-button {
    border-color: #444;
    background-color: #333;
    color: whitesmoke;
    width: 15vw;
}

.card form .form-button:hover {
    cursor: pointer;
    border-color: #555;
    background-color: #444;
}